@import url('normalize.css');
@import url('login.css');
@import url('header_footer/footer.css');
@import url('header_footer/header.css');


*, *:before, *:after
{
	box-sizing: inherit;
}


html
{
    box-sizing: border-box;
    height: 100%;
}

body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper
{
    height: 100%;
    flex-grow: 1;
}

:root
{
    --fc_teal: #3ab3b0;
    --overlay-color: #e1e1e1e0;
    --menu-speed: 0.75s;
}
