@media screen and (min-width: 1150px) {

    #wrapper-inner
    {
        flex-direction: row;
        align-items: flex-start;
    }

    #your-order
    {
        width: 40vw;
        height: 570px;
        max-width: 570px;
    }

    #summary-donations
    {
        width: 380px;
    }
}