@media screen and (min-width: 1150px) {
    input[type=button] {
        max-width: 300px;
    }

    #signIn_form input, #signup_form input {
        width: 80%;
    }

    /*
    ---------------------------------------------
    .class 
    ---------------------------------------------
    */

    .custom-select
    {
        flex-direction: row;
        justify-content: center !important;
    }

    .custom-select select
    {
        height: 50px;
        width: 50%;
    }

    /*
    ---------------------------------------------
    #id 
    ---------------------------------------------
    */

    #login_logo
    {
        margin-bottom: 50px;
    }

    #signIn_container, #update_container
    {
        border: 2px solid var(--border_color);
        border-radius: 10px;
        padding: 20px 0px 20px 0px;
    }

    #signIn_container, #signIn_form, #signup_form,
    #update_container, #update_form, #update_form
    {
        max-width: 600px;
    }
    #signup_form 
    {
        margin-bottom: 0%;
    }

    #signIn_container h1 
    {
        font-size: 2em;
    }

    #signIn_container div 
    {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #signIn_form input, #signup_form input,#profile_image_form input, #update_form input, #update_form input
    {
        font-size: 1em;
        height: 50px;
    }

    #signup_form_inner input[type=text] 
    {
        font-size: .8em;
    }

    #signup_form_inner, #update_container div
    {
        flex-direction: row;
        gap: 20px;
    }

    #update_container div
    {
        display: flex;
        margin: auto;
        width: 80%;
    }

    #profil_image_upload_btn {
        max-width: 200px;
        max-height: 40px;
    }
}