input[type=button], #create_user_button {
    background-color: var(--fc_teal);
    color: white;
    border: none;
    cursor: pointer;
}

input[type=button]:hover, .general_button:hover{
    filter: brightness(80%);
    transition: var(--hover-speed) ease;
}

.demo-button
{
    background-color: rgb(235, 55, 55);
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
}

.demo-button:hover
{
    filter: brightness(80%);
    transition: var(--hover-speed) ease;
}

#sign_in, .general_button
{
    background-color: var(--fc_purple);
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
}


#logged_in
{
    width: 70px;
    height: 50px;
    font-size: 1.7em;
    display: none;
}

#sign_in
{
    padding: 15px 20px;
    font-size: 1em;
    display: none;
}

#new_user
{
    background-color: var(--fc_purple);
    color: white;
    text-decoration: none;
}

#signIn_container span {
    color: rgb(162, 162, 162);
    text-decoration: none;
    padding: 20px 0px 20px 0px;
}

#signIn_container a:hover {
    transition: var(--hover-speed) ease;
}

#signIn_container span:hover 
{
    color: var(--fc_teal);
}