.custom-select
{
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
  gap: 20px;
}

.custom-select select
{
  width: 60%;
  height: 50px;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(162, 162, 162, 0.882);
}

#signup_form_inner label, .custom-select label
{
  font-size: 0.8em;
}