@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('normalize.css');
@import url('fontawesome.min.css');
@import url('buttons.css');
@import url('custom_select.css');

/*
---------------------------------------------
page specific style sheets
---------------------------------------------
*/

@import url('header_footer/footer.css');
@import url('header_footer/header.css');
@import url('pages/user_timeline.css');
@import url('pages/login.css');
@import url('pages/admin.css');
@import url('pages/account_info.css');
@import url('pages/home.css');
@import url('pages/landing.css');
@import url('pages/charities.css');
@import url('pages/about_us.css');


/*
---------------------------------------------
media query style sheets 
---------------------------------------------
*/

@import url('media_queries/header_footer.css');
@import url('media_queries/login_signup.css');
@import url('media_queries/admin_media_queries.css');


:root {
    --fc_teal: #3ab3b0;
    --fc_purple: #55367d;
    --overlay-color: #e1e1e1e0;
    --border_color: rgb(162, 162, 162);
    --menu-speed: 0.75s;
    --hover-speed: 0.4s;
}

*, *:before, *:after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Cabin', sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/*
---------------------------------------------
Inputs
---------------------------------------------
*/

input[type=text], input[type=password] {
    text-indent: 10px;
}

input[type=submit] {
    border: none;
    color: rgb(162, 162, 162);
    text-decoration: none;
    background: none;
}

input[type=submit]:hover {
    color: var(--fc_teal);
    filter: brightness(80%);
    transition: var(--hover-speed) ease;
    cursor: pointer;
}


/*
---------------------------------------------
#id 
---------------------------------------------
*/

#wrapper {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*
---------------------------------------------
.class 
---------------------------------------------
*/

.lines {
    padding: 0px 10px;
    font-size: 1.1em;
}