#welcome_user
{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#timeline
{
    width: 80vw;
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightgrey;
    border-radius: 10px; */
    margin-bottom: 50px;
}

#timeline div
{
    margin: 30px 0px 0px 40px;
}
