#adminErrorMsg {
    text-align: center;
    color: red;
}

tr:nth-of-type(odd){
    background:lightgray;
}

#user_list_container table {
    width: 80vw;
}

#user_list_container td {
    text-align: center;
}
