.admin_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminErrorMsg {
    text-align: center;
    color: red;
}

tr:nth-of-type(odd){
    background:lightgray;
}

#user_list_container {
    padding: 50px;
    margin-bottom: 100px;
    overflow: scroll;
    height: 50vh;
    border: 2px solid var(--border_color);
    border-radius: 8px;
}

#user_list_container table {
    width: 70vw;
}

#user_list_container td {
    text-align: center;
}
