/*
#user_list_container {
    margin: 50px;
    border: 75px;
}

#admin_name {
    text-align: center;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 75%;
    align-content: stretch;
}

form {
    width: 30%;
    align-items: center;
}

.admin_title {
    display: flex;
    margin-left: 20%;
}

.create {
    background-color: purple;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 1.5em;
} */

@import url(../media_queries/admin_media_queries.css);

#adminErrorMsg {
    text-align: center;
    color: red;
}

tr:nth-of-type(odd){
    background:lightgray;
}

#user_list_container table {
    width: 80vw;
}

#user_list_container td {
    text-align: center;
}
