/* 
Author: Dennis Relos
Date: May 9, 2022
*/

/*
---------------------------------------------
.class 
---------------------------------------------
*/

.login_signup {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
---------------------------------------------
#id 
---------------------------------------------
*/

#login_logo {
    height: 100px;
    margin-bottom: 50px;
}

#signup_form_inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#signIn_container, #signIn_form, #signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 50px;
}

#signIn_container h1 {
    font-weight: normal;
    font-size: 3em;
}

#signIn_container div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 2em;
}

#signIn_container a {
    text-decoration: none;
}

#signIn_form input, #signup_form input {
    font-size: 2em;
    width: 80%;
    margin-bottom: 30px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid rgba(162, 162, 162, 0.881);
}

#signup_form_inner input {
    width: 100%;
    font-size: 1em;
}