.header_bar
{
    margin-bottom: 0;
}

.grid-2x2
{
    width: 80%;
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: repeat(2, 200px);
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 30px;
    justify-content: center;

}

.shop-grid-item
{
    border: 1px solid var(--border_color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.shop-grid-item > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-header
{
    background-color: white;
    justify-content: center;
}

.shop-header h2
{
    font-size: 1.2em;
    margin: 5px 0px 2px 0px;
    padding-left: 0px;
    text-align: center;
}

.shop-header p
{
    font-size: .8em;
    margin: 0px 0px 5px 0px;
}

.shop-hover
{
    position: relative;
    top: 100px;
    background-color: transparent;
}

.logo
{
    max-height: 150px;
    justify-content: center;
}

.logo > span
{
    display: none;
    font-weight: bold;
}

.banana-logo
{
    height: 100%;
    width: 100%;
    background: url(../../img/demo_page/banana.png);
    background-size: contain;
}

.shop-grid-item:hover
{
    filter: brightness(60%);
    transition: var(--hover-speed) ease;
}

.calvin-logo
{
    height: 100%;
    width: 100%;
    background: url(../../img/demo_page/calvin_yu.png);
    background-size: contain;
}

.sinden-logo
{
    height: 100%;
    width: 100%;
    background: url(../../img/demo_page/sinden.png);
    background-size: contain;
}

.fundmart-logo
{
    height: 100%;
    width: 100%;
    background: url(../../img/demo_page/fundmart.png);
    background-size: contain;
}

#banner
{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
    margin-bottom: 50px;
}

#banner h1
{
    font-size: 1.5em;
}

#load-more-button
{
    margin-bottom: 50px;
}